<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: lightcoral;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        .container {
            background-color: white;
            border-radius: 20px;
            justify-content: center;
            text-align: center;
            width: 300px;
            padding-top: 20px;
        }

        .container .ul {
            display: flex;
            justify-content: center;
            text-align: center;
        }

        ul {
            list-style: none;
        }
        
        
    </style>
</head>
<body>
    <div class = 'container'>
        <img src = "/uploads/<%=userfile %>" alt="profile" class="profile_img">
        <h3><%= username%> 님! 환영합니다!</h3>
        <ul>
            <li>아이디:<%= userid %></li>
            <li>비밀번호:<%= userpw %></li>
            <li>나이:<%= userage %></li>
        </ul>
    </div>
</body>
</html>