<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <h1>๋์ ํผ ์ค์ต</h1>
    <hr>
    <h2>์ค์ต 1.axios get ํ์๊ฐ์</h2>

    <form name = 'login1'>
        <label for="name">์ด๋ฆ: </label><input type="text" id="name" name="name" />
    <fieldset>
        <legend>์ฑ๋ณ</legend>
        <input type="radio" name="gender" id="man" value="man" />
        <label for="teacher">๋จ์</label>
        <input type="radio" name="gender" id="woman" value="woman" />
        <label for="student">์ฌ์</label>
    </fieldset>
    <fieldset>
        <legend>์๋์์ผ</legend>
        <select name="birthyear" id="year" >
            <% for(var i=1950; i<2023; i++){ %>
                <option value="<%= i  %>">
                    <%= i %>
                </option>
            <% } %>
        </select>
        <label for ="year">๋</label>
        <select name="birthmonth" id="month" >
            <% for(var i=1; i<13; i++){ %>
                <option value="<%= i  %>">
                    <%= i %>
                </option>
            <% } %>
        </select>
        <label for ="month">์</label>
        <select name="birthday" id="day" >
            <% for(var i=1; i<32; i++){ %>
                <option value="<%= i  %>">
                    <%= i %>
                </option>
            <% } %>
        </select>
        <label for ="day">์ผ</label>        
    </fieldset>
    <fieldset>
        <legend>์ข์ํ๋ ์์</legend>
        <input type="checkbox" id="gimbap" value="gimbap" name="favoritefood" />
        <label for="gimbap">๊น๋ฐฅ</label>
        <input type="checkbox" id="pasta" value="pasta" name="favoritefood" />
        <label for="pasta">ํ์คํ</label>
        <input type="checkbox" id="pizza" value="pizza" name ="favoritefood" />
        <label for="pizza">ํผ์</label>
        <input type="checkbox" id="chicken" value="chicken" name="favoritefood" />
        <label for="chicken">์นํจ</label>
    </fieldset>
    </br>
    <button type="button" onclick="axiosGet();">ํ์๊ฐ์</button>
    
    <div class="result"></div>
    <hr>
    
    <h2>์ค์ต2. axios post ๋ก๊ทธ์ธ</h2>

    <label for="username">์์ด๋</label>
        <input type="text" id="id" name="id" />
        <label for="password">๋น๋ฐ๋ฒํธ</label>
        <input type="password" id="pw" name="pw" />
        <button type ="button" onclick="axiosPost();">๋ก๊ทธ์ธ</button>
    </form>
    <div class="login-result"></div>
    <script>

        const resultBox = document.querySelector('.result');
        const loginResult = document.querySelector('.login-result')

        async function axiosGet(){
            console.log('click axiosGet btn!!')

            const form = document.forms['login1'];
            
         
            const formInfo = {
                name: form.name.value,
            };

            try {
                const response = await axios({
                url: 'axios',
                method: 'GET',
                params: formInfo 
                })

                console.log(response)
                console.log(response.data)

                resultBox.textContent = `${response.data.name}๋ ํ์ํฉ๋๋ค! ๊ฐ์์ด ์๋ฃ๋์์ต๋๋ค!'๐`;
                resultBox.style.color = 'blue';
            } catch (error) {
            console.log('Error!', error.message)
            }
        } 
         
        async function clickRegister() {
      console.log('click register btn!')

      const form = document.forms['register']
      const formInfo = {
        username: form.username.value,
      }

      // sol1) promise then() 
      // axios({
      //   url: '/practice1',
      //   method: 'GET',
      //   params: formInfo
      // }).then(function(response) {
      //   console.log(response)
      //   console.log(response.data) // { username: 'xxx'}
      //   registerResult.textContent = `${response.data.username}๋ ํ์ํฉ๋๋ค! ๊ฐ์์ด ์๋ฃ๋์์ต๋๋ค`
      //   registerResult.classList.add('success')
      // })

      // sol2) async/await 
      const response = await axios({
        url: '/practice1',
        method: 'GET',
        params: formInfo
      })
      console.log(response)
      console.log(response.data) // { username: 'xxx'}
      registerResult.textContent = `${response.data.username}๋ ํ์ํฉ๋๋ค! ๊ฐ์์ด ์๋ฃ๋์์ต๋๋ค`
      registerResult.classList.add('success')
    }

    function clickLogin() {
      console.log('click login btn!')

      const form = document.forms['login'];
      const formInfo = {
        userId: form.userId.value,
        userPw: form.userPw.value
      }

      axios({
        url: '/practice2',
        method: 'POST',
        data: formInfo
      }).then(function(response) {
        console.log(response)
        console.log(response.data)

        if (response.data.isLogin) {
          // ๋ก๊ทธ์ธ ์ฑ๊ณต
          // response.data => {isLogin: true, userInfo: {โฆ}}
          // => id๋ ๋ก๊ทธ์ธ ์ฑ๊ณต ๋ฉ์ธ์ง
          loginResult.textContent = `${response.data.userInfo.userId}๋ ๋ก๊ทธ์ธ ์ฑ๊ณต!!`
          loginResult.classList.remove('error')
          loginResult.classList.add('success')
        } else {
          // ๋ก๊ทธ์ธ ์คํจ 
          // response.data => {isLogin: false}
          // => ์์ด๋ ๋๋ ํจ์ค์๋ ์ค๋ฅ ๋ฉ์ธ์ง
          loginResult.textContent = `์์ด๋ ๋๋ ํจ์ค์๋ ์ค๋ฅ!!`
          loginResult.classList.remove('success')
          loginResult.classList.add('error')
        }
      })
    }
    </script>
</body>
</html>